@using SRCTestBlazor.Models

<div class="tabs">
    <ul>
        <li class="@(currentKind == SrcDataKind.Unit ? "is-active": "")">
            <a @onclick:preventDefault
               @onclick="@(e => ChangeKind(e, SrcDataKind.Unit))">
                Unit
            </a>
        </li>
        <li class="@(currentKind == SrcDataKind.Pilot ? "is-active": "")">
            <a @onclick:preventDefault
               @onclick="@(e => ChangeKind(e, SrcDataKind.Pilot))">
                Pilot
            </a>
        </li>
        <li class="@(currentKind == SrcDataKind.Item ? "is-active": "")">
            <a @onclick:preventDefault
               @onclick="@(e => ChangeKind(e, SrcDataKind.Item))">
                Item
            </a>
        </li>
    </ul>
</div>

@code {
    [Parameter]
    public EventCallback<SrcDataKind> OnChangeSrcDataKind { get; set; }

    private SrcDataKind currentKind = SrcDataKind.Unit;
    private async Task ChangeKind(MouseEventArgs e, SrcDataKind kind)
    {
        if (kind != currentKind)
        {
            currentKind = kind;
            await OnChangeSrcDataKind.InvokeAsync(kind);
        }
    }
}
