<section>
    <nav class="src-sub-nuvbar navbar is-light is-fixed-top">
        <div class="navbar-brand">
            @foreach (var id in SRC.IDList.Items)
            {
                var name = id.Name;
                <a href="#item-@name" class="navbar-item"
                   @onclick:preventDefault
                   @onclick="@(e => OnClickAnchor("item-" + name))">@name</a>
            }
        </div>
    </nav>
    @if (!string.IsNullOrEmpty(SRC.PDList.DataComment))
    {
        <div class="content">
            <div class="src-comment">@SRC.PDList.DataComment</div>
        </div>
    }
    @foreach (var id in SRC.IDList.Items)
    {
        <ItemDataView Data="@id" SRC="@SRC" />
    }
</section>

@code {
    [Inject]
    protected IJSRuntime JsInterop { get; set; }
    [Parameter]
    public SRC SRC { get; set; }

    private string lastRaw = "";
    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;
    protected override void OnParametersSet()
    {
        shouldRender = lastRaw != SRC.IDList.Raw;
        lastRaw = SRC.IDList.Raw;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        shouldRender = false;
    }

    private async Task OnClickAnchor(string targetId)
    {
        // 要素までスクロールしてヘッダ分戻る
        await JsInterop.InvokeVoidAsync("anchor.scrollTo", targetId);
        await JsInterop.InvokeVoidAsync("scrollBy", 0, -160);
    }
}
