<section>
    <nav class="navbar is-light is-fixed-top" style="position: sticky; top: 93px;">
        <div class="navbar-brand" style="overflow-x: scroll;">
            @foreach (var pd in SRC.PDList.Items)
            {
                var name = pd.Name;
                <a href="#pilot-@name" class="navbar-item"
                   @onclick:preventDefault
                   @onclick="@(e => OnClickAnchor("pilot-" + name))">@name</a>
            }
        </div>
    </nav>
    @if (!string.IsNullOrEmpty(SRC.PDList.Comment))
    {
        <div class="content">
            <div class="src-comment">@SRC.PDList.Comment</div>
        </div>
    }
    <div class="src-data-list-container">
        <Virtualize Items="@SRC.PDList.Items" Context="pd">
            <PilotDataView @key="pd.Name" Data="@pd" SRC="@SRC" />
        </Virtualize>
    </div>
</section>

@code {
    [Inject]
    protected IJSRuntime JsInterop { get; set; }
    [Parameter]
    public SRC SRC { get; set; }

    private string lastRaw = "";
    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;
    protected override void OnParametersSet()
    {
        shouldRender = lastRaw != SRC.PDList.Raw;
        lastRaw = SRC.PDList.Raw;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        shouldRender = false;
    }

    private async Task OnClickAnchor(string targetId)
    {
        // 要素までスクロールしてヘッダ分戻る
        await JsInterop.InvokeVoidAsync("anchor.scrollTo", targetId);
        await JsInterop.InvokeVoidAsync("scrollBy", 0, -160);
    }
}
