@implements IDisposable
<section>
    @if (!string.IsNullOrEmpty(DataTitle))
    {
        <h1 class="title">@DataTitle</h1>
    }
    <div class="src-data-nav-sticky">
        <DataNavMenu OnChangeSrcDataKind="@OnChangeSrcDataKind" DataDisplayOrder="@SettingsService.Settings.DataDisplayOrder" />
    </div>
    <div class="@(currentKind != SrcDataKind.Unit ? "is-hidden" : "")">
        <UnitDataListView SRC="@SRC" />
    </div>
    <div class="@(currentKind != SrcDataKind.Pilot ? "is-hidden" : "")">
        <PilotDataListView SRC="@SRC" />
    </div>
    <div class="@(currentKind != SrcDataKind.Item ? "is-hidden" : "")">
        <ItemDataListView SRC="@SRC" />
    </div>
</section>

@code {
    [Parameter]
    public string DataTitle { get; set; }
    [Parameter]
    public SRC SRC { get; set; }

    [Inject]
    private DataViewerSettingsService SettingsService { get; set; }

    private SrcDataKind currentKind = SrcDataKind.Unit;

    protected override void OnInitialized()
    {
        SettingsService.OnChange += OnSettingsChanged;
    }

    public void Dispose()
    {
        SettingsService.OnChange -= OnSettingsChanged;
    }

    private void OnSettingsChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private void OnChangeSrcDataKind(SrcDataKind kind)
    {
        currentKind = kind;
    }
}
