@using Newtonsoft.Json
@using System.Diagnostics;
@using System.Net.Http
@using System.Web
@using System.IO

@inject HttpClient Http

<section>
    @if (!string.IsNullOrEmpty(DataTitle))
    {
        <h1 class="title">@DataTitle</h1>
    }
    @* XXX Bulma の sticky サポートはないっぽい *@
    @* z-index: card より前に *@
    <div class="has-background-light" style="position: sticky; top: 52px; z-index: 999;">
        <DataNavMenu OnChangeSrcDataKind="@OnChangeSrcDataKind" />
    </div>
    <div style="@(currentKind != SrcDataKind.Unit ? "display: none; ": "")">
        <UnitDataListView SRC="@SRC" />
    </div>
    <div style="@(currentKind != SrcDataKind.Pilot ? "display: none; ": "")">
        <PilotDataListView SRC="@SRC" />
    </div>
</section>

@code {
    [Inject]
    protected IJSRuntime JsInterop { get; set; }
    [Parameter]
    public string DataTitle { get; set; }
    [Parameter]
    public SRC SRC { get; set; }

    private SrcDataKind currentKind = SrcDataKind.Unit;

    private async Task OnClickAnchor(string targetId)
    {
        // 要素までスクロールしてヘッダ分戻る
        await JsInterop.InvokeVoidAsync("anchor.scrollTo", targetId);
        await JsInterop.InvokeVoidAsync("scrollBy", 0, -160);
    }

    private void OnChangeSrcDataKind(SrcDataKind kind)
    {
        currentKind = kind;
        Console.WriteLine(kind);
    }
}
