<section>
    @if (!string.IsNullOrEmpty(DataTitle))
    {
        <h1 class="title">@DataTitle</h1>
    }
    @* XXX Bulma の sticky サポートはないっぽい *@
    @* z-index: card より前に *@
    <div class="has-background-light" style="position: sticky; top: 52px; z-index: 999;">
        <DataNavMenu OnChangeSrcDataKind="@OnChangeSrcDataKind" />
    </div>
    <div style="@(currentKind != SrcDataKind.Unit ? "display: none; ": "")">
        <UnitDataListView SRC="@SRC" />
    </div>
    <div style="@(currentKind != SrcDataKind.Pilot ? "display: none; ": "")">
        <PilotDataListView SRC="@SRC" />
    </div>
    <div style="@(currentKind != SrcDataKind.Item ? "display: none; ": "")">
        <ItemDataListView SRC="@SRC" />
    </div>
</section>

@code {
    [Parameter]
    public string DataTitle { get; set; }
    [Parameter]
    public SRC SRC { get; set; }

    private SrcDataKind currentKind = SrcDataKind.Unit;

    private void OnChangeSrcDataKind(SrcDataKind kind)
    {
        currentKind = kind;
    }
}
