<section>
    <nav class="navbar is-light is-fixed-top" style="position: sticky; top: 93px;">
        @* XXX 常に横幅が入っているとは限らない模様 *@
        <div class="navbar-brand" style="overflow-x: scroll;">
            @foreach (var ud in SRC.UDList.Items)
            {
                var name = ud.Name;
                <a href="#unit-@name" class="navbar-item"
                   @onclick:preventDefault
                   @onclick="@(e => OnClickAnchor("unit-" + name))">@name</a>
            }
        </div>
    </nav>
    @if (!string.IsNullOrEmpty(SRC.UDList.Comment))
    {
        <div class="content">
            <div class="src-comment">@SRC.UDList.Comment</div>
        </div>
    }
    <div class="src-data-list-container">
        <Virtualize Items="@SRC.UDList.Items" Context="ud">
            <UnitDataView @key="ud.Name" Data="@ud" />
        </Virtualize>
    </div>
</section>

@code {
    [Inject]
    protected IJSRuntime JsInterop { get; set; }
    [Parameter]
    public SRC SRC { get; set; }

    private string lastRaw = "";
    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;
    protected override void OnParametersSet()
    {
        shouldRender = lastRaw != SRC.UDList.Raw;
        lastRaw = SRC.UDList.Raw;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        shouldRender = false;
    }

    private async Task OnClickAnchor(string targetId)
    {
        // 要素までスクロールしてヘッダ分戻る
        await JsInterop.InvokeVoidAsync("anchor.scrollTo", targetId);
        await JsInterop.InvokeVoidAsync("scrollBy", 0, -160);
    }
}
