@using SRCCore.Models

<article class="card src-data" id="unit-@Data.Name">
    <header class="card-header">
        <div class="card-header-title">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="@DataContainer.BitmapIndex.GetBitmapUri("Unit", Data.Bitmap0)" alt="Unit image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">@Data.Name</p>
                    <p class="subtitle is-6">@Data.Nickname</p>
                </div>
            </div>
        </div>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">ＨＰ</p>
                        <p class="title">@Data.HP</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">ＥＮ</p>
                        <p class="title">@Data.EN</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">装甲</p>
                        <p class="title">@Data.Armor</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">運動性</p>
                        <p class="title">@Data.Mobility</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">移動力</p>
                        <p class="title">@Data.Speed</p>
                    </div>
                </div>
            </div>
            <div class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">タイプ</p>
                        <p class="title">@Data.Transportation</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">適応</p>
                        <p class="title">@Data.Adaption</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">サイズ</p>
                        <p class="title">@Data.Size</p>
                    </div>
                </div>
            </div>
            <ul>
                @* 先頭は『特殊能力』表示用なので飛ばす *@
                @foreach (var fd in Data.Features.Skip(1))
                {
                    <li>
                        @fd.Name
                        @(fd.HasLevel ? $"Lv{fd.Level}" : "")
                        @fd.StrData
                    </li>
                }
            </ul>
        </div>
        @if (Data.Weapons.Any())
        {
            <WeaponDataListView Weapons="@Data.Weapons"></WeaponDataListView>
        }
        @if (Data.Abilities.Any())
        {
            <AbilitiyDataListView Abilities="@Data.Abilities"></AbilitiyDataListView>
        }
        <div class="content">
            @if (!string.IsNullOrEmpty(Data.DataComment))
            {
                <div class="src-comment">@Data.DataComment</div>
            }
            <button class="button is-small" @onclick="OnClickRaw">Raw</button>
            <div class="src-raw" style="@(ExpandRaw ? "" : "display: none;")">@Data.Raw</div>
        </div>
    </div>
    <footer class="card-footer">
    </footer>
</article>

@code {
    [Inject]
    SrcDataContainer DataContainer { get; set; }
    [Parameter]
    public UnitData Data { get; set; }

    private bool ExpandRaw = false;

    private void OnClickRaw()
    {
        ExpandRaw = !ExpandRaw;
    }
}
